/*----------------------------------------------*/
/*                Configuration                 */
/*----------------------------------------------*/
.color-blue{
color: #679abb;
}

.color-red {
    color: #c11321;
}

.color-wine {
    color: #790000;
}

.color-crema{
    color: #fdf0d5;
}

span .color-red {
    font-size: 15rem;
}

body {
    background-color: #002335 !important;
  }



@keyframes cell1 {
    12% {
        top: 50px;
        left: 50px;
        background-color: gold;
    }

    16% {
        top: 50px;
        left: 100px;
        background-color: lightblue;
    }

    26% {
        top: 50px;
        left: 100px;
        background-color: lightblue;
    }

    30% {
        top: 50px;
        left: 0;
        background-color: lightgreen;
    }

    40% {
        top: 50px;
        left: 0;
        background-color: lightgreen;
    }

    44% {
        top: 100px;
        left: 0;
        background-color: coral;
    }

    54% {
        top: 100px;
        left: 0;
        background-color: coral;
    }

    58% {
        top: 100px;
        left: 50px;
        background-color: hotpink;
    }

    68% {
        top: 100px;
        left: 50px;
        background-color: hotpink;
    }

    72% {
        top: 100px;
        left: 50px;
        background-color: mediumorchid;
    }

    82% {
        top: 100px;
        left: 50px;
        background-color: mediumorchid;
    }

    86% {
        top: 50px;
        left: 50px;
        background-color: dodgerBlue;
    }

    96% {
        top: 50px;
        left: 50px;
        background-color: dodgerBlue;
    }

    100% {
        top: 50px;
        left: 100px;
        background-color: gold;
    }
}

@keyframes cell2 {
    12% {
        top: 50px;
        left: 100px;
        background-color: gold;
    }

    16% {
        top: 50px;
        left: 150px;
        background-color: lightblue;
    }

    26% {
        top: 50px;
        left: 150px;
        background-color: lightblue;
    }

    30% {
        top: 50px;
        left: 50px;
        background-color: lightgreen;
    }

    40% {
        top: 50px;
        left: 50px;
        background-color: lightgreen;
    }

    44% {
        top: 50px;
        left: 50px;
        background-color: coral;
    }

    54% {
        top: 50px;
        left: 50px;
        background-color: coral;
    }

    58% {
        top: 50px;
        left: 50px;
        background-color: hotpink;
    }

    68% {
        top: 50px;
        left: 50px;
        background-color: hotpink;
    }

    72% {
        top: 50px;
        left: 50px;
        background-color: mediumorchid;
    }

    82% {
        top: 50px;
        left: 50px;
        background-color: mediumorchid;
    }

    86% {
        top: 0;
        left: 50px;
        background-color: dodgerBlue;
    }

    96% {
        top: 0;
        left: 50px;
        background-color: dodgerBlue;
    }

    100% {
        top: 50px;
        left: 50px;
        background-color: gold;
    }
}

@keyframes cell3 {
    12% {
        top: 100px;
        left: 50px;
        background-color: gold;
    }

    16% {
        top: 100px;
        left: 50px;
        background-color: lightblue;
    }

    26% {
        top: 100px;
        left: 50px;
        background-color: lightblue;
    }

    30% {
        top: 100px;
        left: 50px;
        background-color: lightgreen;
    }

    40% {
        top: 100px;
        left: 50px;
        background-color: lightgreen;
    }

    44% {
        top: 100px;
        left: 50px;
        background-color: coral;
    }

    54% {
        top: 100px;
        left: 50px;
        background-color: coral;
    }

    58% {
        top: 150px;
        left: 50px;
        background-color: hotpink;
    }

    68% {
        top: 150px;
        left: 50px;
        background-color: hotpink;
    }

    72% {
        top: 150px;
        left: 0;
        background-color: mediumorchid;
    }

    82% {
        top: 150px;
        left: 0;
        background-color: mediumorchid;
    }

    86% {
        top: 150px;
        left: 50px;
        background-color: dodgerBlue;
    }

    96% {
        top: 150px;
        left: 50px;
        background-color: dodgerBlue;
    }

    100% {
        top: 100px;
        left: 50px;
        background-color: gold;
    }
}

@keyframes cell4 {
    12% {
        top: 100px;
        left: 100px;
        background-color: gold;
    }

    16% {
        top: 100px;
        left: 100px;
        background-color: lightblue;
    }

    26% {
        top: 100px;
        left: 100px;
        background-color: lightblue;
    }

    30% {
        top: 100px;
        left: 100px;
        background-color: lightgreen;
    }

    40% {
        top: 100px;
        left: 100px;
        background-color: lightgreen;
    }

    44% {
        top: 100px;
        left: 100px;
        background-color: coral;
    }

    54% {
        top: 100px;
        left: 100px;
        background-color: coral;
    }

    58% {
        top: 150px;
        left: 100px;
        background-color: hotpink;
    }

    68% {
        top: 150px;
        left: 100px;
        background-color: hotpink;
    }

    72% {
        top: 150px;
        left: 50px;
        background-color: mediumorchid;
    }

    82% {
        top: 150px;
        left: 50px;
        background-color: mediumorchid;
    }

    86% {
        top: 100px;
        left: 50px;
        background-color: dodgerBlue;
    }

    96% {
        top: 100px;
        left: 50px;
        background-color: dodgerBlue;
    }

    100% {
        top: 100px;
        left: 100px;
        background-color: gold;
    }
}